In [1]:
# markdown : esc +m
# code : esc + y

# Unit 4 기본문법 알아보기
## 4.1 세미콜론
파이썬은 구문이 끝날 때 세미콜론을 붙이지 않는다.  
보통 한 줄에 여러 문장을 사용할 때 세미콜론으로 구분한다.

스페이스바로 두칸 뛰면 문장이 아래로 내려간다.

In [4]:
print('python'); print('hello'); print('funny learn python')

python
hello
funny learn python

## 4.2 주석
### 4.2.1 한 줄 주석
한 줄 주석은 # 기호 하나로 적어준다. 위치는 어디건 상관없고 # 기호 이후의 부분은 설명문으로 간주한다.

In [5]:
# print('hello python')

In [6]:
print('hello python')  # 이 문장은 hello python을 화면에 출력한다.

hello python

### 4.2.2 블록주석
블록 주석은 각 줄마다 #을 넣어준다.

In [7]:
# print('hello python')
# print('1234560')

### 4.2.3 multiline comment
여러 라인에 걸쳐 주석 또는 설명을 적고자 할 때는 큰따옴표 세개를 연속해서 """ 사용한다.

In [10]:
print('hello korea')

"""
이것은 여러 라인에 걸친 주석으로 
보통 세줄 이상의 텍스트 형태로
많은 설명을 적어야 할 때 사용합니다.
등등등

"""

hello korea

'\n이것은 여러 라인에 걸친 주석으로 \n보통 세줄 이상의 텍스트 형태로\n많은 설명을 적어야 할 때 사용합니다.\n등등등\n\n'

## 4.3 들여쓰기

indentation 코드를 읽기 쉽도록 일정한 간격을 띄워서 작성하는 방법.
if a>b :   
    print("a는 b보다 크다")
else:  
    print("a는 b보다 크다")
   
  
C, C++ java 와 같은 언어에서 들여쓰기는 단지 권고사항일 뿐이지만 python에서는 들여쓰기가  
**반드시 지켜야 하는 문법사항**이다. (** 앞뒤로 쓰면 진하게 글자 나옴)

## 4.4 코드블록
특정한 동작을 위해서 코드가 모여 있는 상태를 뜻하며, 파이썬은 들여쓰기를 기준으로 코드 블록을 구성한다.
{     } 다른 언어에서는 이 중괄호를 사용한다.

**단, 같은 블록은 들여쓰기 칸 수가 같아야 하고, 공백과 탭 문자를 섞어 쓰면 안된다.

---
# unit 5. 숫자계산하기

참고사항 
data : 처리하고자 하는 대상  
    숫자(정수, 실수, 복소수), 문자열, 멀티미디어 
    c, c++, java와 같은 일반적 프로그램 언어에서는  
    문자 : 글자 하나로 'a'
    문자열 : 두글자 이상 'abc'      
    
    복소수 지원이 다른 언어에는 없지만 파이썬엔 있다.
    
program : 처리하는 방법 (다른 말로는 process)


variable (변수) : 데이터를 보관하는 기억 장소 이를 칭하는 이름

In [35]:
numberA = 10      # 정수형 데이터 10을 변수 numberA에 대입연사자(= 등호 기호)를 이용하여 할당assign하였다. 라고 표현함.
numberB = 3.141592
numberC = 5+4j
strA = 'A'
strB = "KOREA"  # 파이썬에선 작은 , 큰 따옴표 구분 않는다.
boolA = True # boolean type : True, False 두 가지 정보만 표현할 수 있는 데이터 타입
boolB = False

쉬프트 + 콘트롤 + 마이너스 하면 셀을 나눈다.

In [36]:
print(type(numberA))
print(type(numberB))
print(type(numberC))
print(type(strA))
print(type(strB))
print(type(boolA))
print(type(boolB))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [30]:
type("100.1234 + 3j")

str

In [32]:
1+1

2

In [38]:
# 연산자operater (예+)연산의 대상을 피연산자라고 하고 이를 operand 라고 한다.
# 파이썬에서 산술연산지 
print(5 / 3) # 5를 3으로 나눈 결과
print(5 // 3) # 5를 3으로 나눈 몫
print(5 % 3) # 5를 3으로 나누었을때의 나머지
print(5 ** 3) # operator 앞뒤로 공백을 띄워주는게 좋다. 가독성을 높이기 위해

1.6666666666666667
1
2
125

In [43]:
# 형변화 type conversion : 
# 임의 데이터 (연산의 결과) 타입을 원하는 데이터 타입으로 변환
print(type(int(3.14)))
print(type(3.14))
print(type(100))
print(type(float(100)))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>

In [45]:
import keyword
print(keyword.kwlist)   # 아래는 변수로 사용하면 안됨.

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [49]:
a, b, c = 10, 20, 30

In [50]:
# 복합대입연산자
# 산술연산자 모두 적용
a = 10
a = a + 20   # a += 20   , (a를 한번 더 쓰기 싫어서)
a  *= 3  # a = a*3 이라는 뜻
# 증감연산자
a = a + 1  # a++, a--

In [51]:
# 입력함수 input()
print("korea")
print(1,2,3)

korea
1 2 3

In [4]:
birthYear = input("생년을 입력하세요 : ")
birthYear = int(birthYear) # input()로 받은 데이터는 문자열이기 때문에 형변환
print(str(birthYear)+"년") # print()함수에서 + 는 문자열과 문자열을 결합.
# +는 양쪽이 같은 형식이어야 한다.
age = 2021 - birthYear
print("당신의 나이는 " + str(age) + "살이군요...")

생년을 입력하세요 : 2001
2001년
당신의 나이는 20살이군요...

In [ ]:
# print("korea")  korea : 파라미터 인수 인자 arguments
a, b = input("2개의 숫자를 입력하세요. "). split(',')  
# 문자나 숫자를 나눠 인식하는것, 아무것도 괄호 안에 안 쓰면 공백으로 인식한다는 의미  
# 문자열을 특정한 기호를 기준으로 나눌 수 있다.
print(a, b)

In [2]:
a, b = map(int, input("2개의 숫자를 입력하세요").    split())
print(a+b)

2개의 숫자를 입력하세요10 20
30

In [5]:
print(a, b, "korea", sep=';')  # 구분자를 세미콜론으로 찍어라 라는 의미
print(a, end="....")  #  \n  줄 바꿈 하라는 의미
print(b)

10;20;korea
10....20

In [6]:
10>5

True

In [14]:
# 관계연산자 : >, <, <=, >=, == !=
# 논리연산자 : and, or, not

In [12]:
1 == 1.0

True

In [13]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-13-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False